<a href="https://colab.research.google.com/github/sharmacharvi/Titanic-Data-Cleaning-Preprocessing-Tool/blob/main/Data_Cleaning_%26_Preprocessing_Too.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:

import pandas as pd
import numpy as np
from google.colab import files

print("Upload your CSV file")
uploaded = files.upload()

file_name = list(uploaded.keys())[0]
df = pd.read_csv(file_name)

print("Dataset Loaded Successfully!")
df.head(1300)

Upload your CSV file

Saving titanic_original.csv to titanic_original (2).csv
Dataset Loaded Successfully!

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1295,3.0,0.0,"Windelov, Mr. Einar",male,21.0000,0.0,0.0,SOTON/OQ 3101317,7.2500,NaN,S,NaN,NaN,NaN
1296,3.0,0.0,"Wirz, Mr. Albert",male,27.0000,0.0,0.0,315154,8.6625,NaN,S,NaN,131.0,NaN
1297,3.0,0.0,"Wiseman, Mr. Phillippe",male,NaN,0.0,0.0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1298,3.0,0.0,"Wittevrongel, Mr. Camille",male,36.0000,0.0,0.0,345771,9.5000,NaN,S,NaN,NaN,NaN
1299,3.0,0.0,"Yasbeck, Mr. Antoni",male,27.0000,1.0,0.0,2659,14.4542,NaN,C,C,NaN,NaN

In [39]:
# Show missing values count
print("Missing Values:\n", df.isnull().sum())

# Fill numeric → mean
# Fill categorical → mode
df_clean = df.copy()

for col in df_clean.columns:
    if df_clean[col].dtype != 'object':     # numeric
        df_clean[col].fillna(df_clean[col].mean(), inplace=True)
    else:                                   # categorical
        df_clean[col].fillna(df_clean[col].mode()[0], inplace=True)

print("\nMissing Values Handled Successfully!")

Missing Values:
 pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

Missing Values Handled Successfully!

/tmp/ipython-input-2208478158.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean[col].fillna(df_clean[col].mean(), inplace=True)
/tmp/ipython-input-2208478158.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean[col].fillna(df_clean[col].mode()[0], inplace=True)

In [40]:

def remove_duplicates(df):
    before = df.shape[0]
    df_cleaned = df.drop_duplicates()
    after = df_cleaned.shape[0]
    print(f"Duplicates removed: {before - after}")
    return df_cleaned

df = remove_duplicates(df)

from scipy import stats

df_zscore = df.select_dtypes(include=[np.number])    # numeric columns only
z_scores = np.abs(stats.zscore(df_zscore, nan_policy='omit'))

# threshold = 3 (common for z-score)
outliers = np.where(z_scores > 3)

print("Z-Score Outliers Found:", len(outliers[0]))

# Remove outliers
df_no_outliers_z = df[(z_scores < 3).all(axis=1)]

print("Shape After Removing Z-Score Outliers:", df_no_outliers_z.shape)

Duplicates removed: 0
Z-Score Outliers Found: 102
Shape After Removing Z-Score Outliers: (112, 14)

In [41]:
print("Final Cleaned Data Shape:", df.shape)
df.head(1300)

Final Cleaned Data Shape: (1310, 14)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1295,3.0,0.0,"Windelov, Mr. Einar",male,21.0000,0.0,0.0,SOTON/OQ 3101317,7.2500,NaN,S,NaN,NaN,NaN
1296,3.0,0.0,"Wirz, Mr. Albert",male,27.0000,0.0,0.0,315154,8.6625,NaN,S,NaN,131.0,NaN
1297,3.0,0.0,"Wiseman, Mr. Phillippe",male,NaN,0.0,0.0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1298,3.0,0.0,"Wittevrongel, Mr. Camille",male,36.0000,0.0,0.0,345771,9.5000,NaN,S,NaN,NaN,NaN
1299,3.0,0.0,"Yasbeck, Mr. Antoni",male,27.0000,1.0,0.0,2659,14.4542,NaN,C,C,NaN,NaN

In [42]:
df_clean.to_csv("cleaned_dataset.csv", index=False)
files.download("cleaned_dataset.csv")

print("Cleaned CSV Saved & Downloaded Successfully!")

Cleaned CSV Saved & Downloaded Successfully!